/*引入阿里图标css*/
@import "~@/assets/common/iconfont.css";


.titleclass {
    margin-left: 10px;
    margin-top: 10px;
}

.cellspantitleclass {
    margin-left: 10px;
}


.mydivider {
    color: #1989fa;
    border-color: #1989fa;
    padding: 0 6px;
}
